.input {
  border: 1px solid #cccccc;
  padding: 0 12px;
  border-radius: 2px;
  height: 36px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  &:focus {
    border: 3px solid #f1c40f;
  }
}
.label {
  padding: 8px;
}
